:root  {
  --colorMain: #D9D3C1;
  --colorContrastMain: #0D0A09;
  --colorContrast: #A1A08A;
  --colorSupplement: #3aa358;


  
}

@font-face {
    font-family: mainfontSERIFCONTRAST;
    src: url(rogre/rogre.otf);
}
* {

    
    border: black 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';

}

html {

    background-color: var(--colorSupplement);
    height: max-content;
    max-width: 100vw;

}

body {

    overflow-x: hidden;
    height: max-content;
    max-width: 100vw;
}

.page {
    
    display: flex;
   
   margin: auto;
    height: 100vh;
    max-width: 100vw;
}

.img {

image-rendering:pixelated;
}



.navigation {
    display: flex;
}